* {
  box-sizing: border-box;
}

body {
  display: block;
  padding: 0;
  margin: 0;
}

.calc {
  width: 400px;
  background-color: black;
  color: white;
}

div {
  display: block;
}

.screen {
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
}

.botones-calc {
  background-color: #d8d9db;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}

.botones-calc:last-child {
  background-color: #df974c;
  color: white;
}

.fila-botones-calc {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.doble {
  width: 49.7%;
}

.triple {
  width: 74.8%;
}

.botones-calc:hover {
  background-color: #ebebeb;
}

.botones-calc:active {
  background-color: #bbbcbe;
}

.botones-calc:last-child:hover {
  background-color: #dfb07e;
}

.botones-calc:last-child:active {
  background-color: #dd8d37;
}
